@media only screen and (min-width:992px) and (max-width:1199px) {
    .container {
        max-width: 960px;}
    .menu2 {
            width: 52%;
            float: left;
            margin-top: 10px;
            text-align: right;}
    .image img {
            width: 8%;
            float: left;
            margin-top: 22px;
            margin-bottom: 0px;}
    .menu1 ul li a {
                line-height: 15px;
                font-size: 10px;}
    .menu2 ul li a {
                    line-height: 15px;
                    font-size: 10px;}
    .contact-info h1 {
                    font-weight: bold;
                    font-size: 33px;
                    line-height: 10px;}
    .contact-info p {
                        font-size: 21px;
                        line-height: 30px;}
    .helpline-info h1 {
                        font-size: 30px;
                        line-height: 42px;
                        margin-top: 30px;}
    .sales-image:first-child {margin-left: 0px;}
    .sales-image {width: 31%;
                margin: 0px;
                min-height: 248px;
                margin-right: 33px;
                margin-bottom: 33px;}
    .btn-style {padding: 1px;
        font-size: 11px;
        margin-top: -6px;
        border-radius: 4px;
        margin-right: -1px;}
    
    .contact-info h1 {font-size: 28px;}
    .contact-info p {font-size: 13px;}
    .helpline-info h1 {
        font-size: 24px;
        line-height: 35px;
        margin-top: 20px;}
        
    .sales-image h3 {font-size: 15px;}
    .sales-image:nth-child(3){margin-right: 0px;}
    .sales-image:last-child{margin-right:0px;}
    .sales-image:nth-child(4) {margin-left:0px;} 
    .mapping-info p {
        font-size: 14px;}
    .mapping-info h1 {
            font-size: 29px;
            line-height: 25px;}
    .offices h1 {
                font-weight: 700;
                font-size: 30px;
                line-height: 33px;
                margin-top: 2px;
                margin-bottom:30px;}
    .mapping-info {margin-top: -263px;margin-left: 272px;}
    .country {margin-left: 79px;height: 172px;}        
    .footer{margin-top: -20px;min-height: 345px;}
    .footer2 p {font-size: 11px;position: relative;top: 65px;}
}


@media only screen and (min-width:768px) and (max-width:991px) {
    .container {
        max-width:720px;}
    .menu1 {
            width: 46%;
            float: left;
            margin-top: 10px;}
    .menu2 {
                width: 46%;
                float: left;
                margin-top: 10px;
                text-align: right;}
    .header1 ul li {padding-left: 15px;
    margin-top: 6px;
    margin-bottom: 6px;}
    .header1 ul li a {line-height: 7px;
        font-size: 10px;}
        .header2 ul li {
            padding-left:7px;
            margin-top: 5px;
            margin-bottom: 5px}
    
    .image img {
            width: 8%;
            float: left;
            margin-top: 18px;
            margin-bottom: 0px;}
    .menu1 ul li a {
                line-height: 15px;
                font-size: 10px;}
    .menu2 ul li a {
                    line-height: 15px;
                    font-size: 10px;}
    .contact {margin-top: 82px;}
    .image-info img {
        width: 45%;
        float: right;
        height: 230px;}
    .contact-info h1 {
                    font-weight: bold;
                    font-size: 33px;
                    line-height: 10px;}
    .contact-info p {
                        font-size: 21px;
                        line-height: 30px;}
    .helpline-info h1 {
                        font-size: 30px;
                        line-height: 42px;
                        margin-top: 30px;}
    .sales-image:first-child {margin-left: 0px;}
    .sales-image {width: 31%;
        margin: 0px;
        min-height: 227px;
        margin-right: 22px;
        margin-bottom: 22PX;line-height: 20px;}
    .btn-style {padding: 1px;
        font-size: 11px;
        margin-top: -6px;
        border-radius: 4px;
        margin-right: -1px;}
    
    .contact-info h1 {font-size: 28px;}
    .contact-info p {font-size: 13px;}
    .helpline-info h1 {
        font-size: 18px;
        line-height:25px;
        margin-top: 20px;}
        
    .sales-image h3 {font-size: 11px;}
    .sales-image:nth-child(3){margin-right: 0px;}
    .sales-image:last-child{margin-right:0px;}
    .sales-image:nth-child(4) {margin-left:0px;} 
    .mapping-info p {
        font-size: 12px;}
    .mapping-info h1 {
        font-size: 17px;
        line-height: 12px;margin-bottom: 10px;}
    .offices h1 {
                font-weight: 700;
                font-size:24px;
                line-height: 33px;
                margin-top: 2px;
                margin-bottom:30px;}
    .mapping-info {margin-top: -211px;
        margin-left:185PX;}
    .mapping-info h2 {
            font-size: 11px;
            line-height: 19px;
            margin-bottom: 10px; }
    .mapping-info h3 {
                font-size: 12px;
                line-height: 0px;}
    .country h1 {
                font-size: 11px;
                Line-height: 12px;
                margin-bottom: 7px;}
    .country ul li {font-size: 11px;}
    .country {margin-left: 79px;height:120px;}        
    .footer{margin-top: -20px;min-height:270px;}
    .footer-content ul li {
        display: block;
        line-height: 1.5;
        font-size: 9px;
        margin-left: 20px;}
    .footer2 p {font-size: 9px;
        position: relative;
        top: 52px;}
}


@media only screen and (min-width:567px) and (max-width:767px) {
    .container {
        max-width:95%;}
    .menu1 {
            width: 42%;
            float: left;
            margin-top: 10px;}
    .menu2 {
                width:50%;
                float: left;
                margin-top: 10px;
                text-align: right;}
    .header1 ul li {padding-left: 15px;
    margin-top: 6px;
    margin-bottom: 6px;}
    .header1 ul li a {line-height: 7px;
        font-size: 9px;}
        .header2 ul li {
            padding-left:2px;
            margin-top: 5px;
            margin-bottom: 5px}
    
    .image img {
            width: 8%;
            float: left;
            margin-top: 18px;
            margin-bottom: 0px;}
    .menu1 ul li a {
                line-height:10px;
                font-size:9px;margin-top: 10px;
                padding-left:1px;}
    .menu2 ul li a {margin-left: 0px;
                    line-height:10px;
                    font-size:9px;}
    .contact {margin-top:110px;}
    .image-info img {
        width: 45%;
        float: right;
        height:184px;}
    .contact-info h1 {margin: 21PX 0 24px;
                    font-weight: bold;
                    font-size:28px;
                    line-height: 10px;}
    .contact-info p {
                        font-size:17px;
                        line-height: 30px;}
    .helpline-info h1 {
                        font-size:25px;
                        line-height: 42px;
                        margin-top: 30px;}
    .sales-image:first-child {margin-left: 0px;}
    .helpline-image {
        margin-top: 10px;}
    .sales-image {width: 31%;
        margin: 0px;
        min-height: 193px;
        margin-right: 18px;
        margin-bottom: 18PX;
        line-height: 11px;}
    .btn-style {padding: 1px;
        font-size:9px;
        margin-top: -6px;
        border-radius: 4px;
        margin-right: -1px;}
    
    .contact-info h1 {font-size: 24px;}
    .contact-info p {font-size:13px;}
    .helpline-info h1 {
        font-size: 14px;
        line-height:22px;
        margin-top: 20px;}
        
    .sales-image h3 {font-size: 10px;}
    .sales-image:nth-child(3){margin-right: 0px;}
    .sales-image:last-child{margin-right:0px;}
    .sales-image:nth-child(4) {margin-left:0px;} 
    .mapping-info p {
        font-size: 9px;}
    .mapping-info h1 {
        font-size: 12px;
        line-height: 12px;margin-bottom: 10px;}
    .offices h1 {
                font-weight: 700;
                font-size:17px;
                line-height: 33px;
                margin-top: 2px;
                margin-bottom:30px;}
    .mapping-info {margin-top: -171px;
        margin-left: 155PX;}
    .mapping-info h2 {
            font-size:9px;
            line-height: 19px;
            margin-bottom: 10px; }
    .mapping-info h3 {
                font-size:9px;
                line-height: 0px;}
    .country h1 {
                font-size:9px;
                Line-height: 12px;
                margin-bottom: 7px;}
    .country ul li {font-size:9px;}
    .country {margin-left:50px;height:105px;}        
    .footer{margin-top: -20px;min-height:325px;}
    .footer-content ul li {
        display: block;
        line-height: 1.5;
        font-size: 9px;
        margin-left: 20px;}
        .button-style { margin: 2px;
            padding: 0px,5px;
            font-size: 9px;}
    .footer2 p {font-size: 8px;
        position: relative;
        top: 50px;
        left: -28px;}
}


@media only screen and (max-width:568px) {
    .container {
        max-width:96%;}
    .header1 {text-align:center;}
    .menu1 {
            width:80%;
            float: left;
            margin-top: 10px;}
    .menu2 {
                width:100%;
                float: left;
                margin-top: 10px;
                text-align: right;}
    .header1 ul li {padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 5px;}
    .header1 ul li a {line-height:0px;
        font-size: 8px;}
        .header2 ul li {
            padding-left: 2px;
    margin-top: 3px;
    margin-bottom: 0px;}
    
    .image img {
            width:20%;
            float: left;
            margin-top: 18px;
            margin-bottom: 0px;}
    .menu1 ul li a {
        line-height:0px;
        font-size: 8px;
        margin-top: 0px;
        padding-left: 1px;}
    .menu2 ul li a {margin-left: 0px;
        line-height: 0px;
        font-size: 8px;}
    .contact {margin-top:100px;}
    .image-info img {
        width: 45%;
    float: right;
    height: 135px;}
    .contact-info h1 {margin: 21PX 0 24px;
                    font-weight: bold;
                    font-size:28px;
                    line-height: 10px;}
    .contact-info p {margin: 0 0 8px;
                        font-size:17px;
                        line-height: 30px;}
    .helpline-info h1 {
                        font-size:25px;
                        line-height: 42px;
                        margin-top: 30px;}
    .sales-image:first-child {margin-left:33px;}
    .helpline-image {
        margin-top: 10px;}
    .sales-image{width: 80%;
    margin: 0px;
    min-height: 169px;
    margin-right: 0px;
    margin-bottom: 18PX;
    line-height: 13px;
    margin-left:33px;
}
    .btn-style {padding: 1px;
        font-size:9px;
        margin-top: -6px;
        border-radius: 4px;
        margin-right: -1px;}
    
    .contact-info h1 {font-size: 16px;
        margin: 14PX 0 23px;}
    .contact-info p {font-size:12px;
        line-height: 20px;}
    .helpline-info h1 {
        font-size: 14px;
        line-height:22px;
        margin-top: 20px;}
    .mapping {
            border-radius: 12px;
            width: 100%;
            float: left;}
        
    .sales-image h3 {font-size: 10px;}
    .sales-image:nth-child(3){margin-right: 0px;}
    .sales-image:last-child{margin-right:0px;}
    .sales-image:nth-child(4) {margin-left:33px;} 
    .mapping-info p {
        font-size: 9px;}
    .mapping-info h1 {
        font-size: 12px;
        line-height: 12px;margin-bottom: 10px;}
    .offices h1 {
        font-weight: 700;
        font-size: 15px;
        line-height: 29px;
        margin-top: 2px;
        margin-bottom: 8px;}
    .mapping-info {margin-top: -184px;
        margin-left: 204PX;}
    .mapping-info h2 {
            font-size:9px;
            line-height: 19px;
            margin-bottom: 10px; }
    .mapping-info h3 {
                font-size:9px;
                line-height: 0px;}
    .location-info {
                    width: 100%;
                    float: left;}
    .country h1 {
                font-size:9px;
                Line-height: 12px;
                margin-bottom: 7px;}
    .country ul li {font-size:9px;}
    .country {margin-right:21px;
        margin-left:4px;
        margin-top: 60px;
        height: 105px;}
        .footer-content:first-child {
            margin-left:0px;}
    .footer-content {
            height:170px;
            width: 33%;
            float: left;}        
    .country:last-child{margin-right:0px;}
    .footer{margin-top: -20px;min-height:325px;}
    .footer-content ul li {
        display: block;
        line-height: 1.5;
        font-size: 9px;
        margin-left: 20px;}
    .button-style { margin: 2px;
            padding: 0px,5px;
            font-size: 9px;}
    .footer-content h6 {
                font-size: 11px;
                margin: 7px;
                font-weight: 600;
                margin-left: 20px;}
    .footer-content:last-child {margin-top: 46px;}
    .footer2 {margin-left: 32px;}
    .footer2 p {font-size: 8px;
        position: relative;
        top: -12px;
        left: -28px;}
}




@media only screen and (max-width:280px) {
    .container {
        max-width:96%;}
    .header1 {text-align:center;}
    .menu1 {
            width:80%;
            float: left;
            margin-top: 10px;}
    .menu2 {
                width:100%;
                float: left;
                margin-top: 10px;
                text-align: right;}
    .header1 ul li {padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 5px;}
    .header1 ul li a {line-height:0px;
        font-size: 8px;}
        .header2 ul li {
            padding-left: 2px;
    margin-top: 3px;
    margin-bottom: 0px;}
    
    .image img {
            width:20%;
            float: left;
            margin-top: 18px;
            margin-bottom: 0px;}
    .menu1 ul li a {
        line-height:0px;
        font-size: 8px;
        margin-top: 0px;
        padding-left: 1px;}
    .menu2 ul li a {margin-left: 0px;
        line-height: 0px;
        font-size: 8px;}
    .contact {margin-top:100px;}
    .image-info img {
        width: 45%;
        float: right;
        height:90px;}
    .contact-info h1 {margin: 21PX 0 24px;
                    font-weight: bold;
                    font-size:28px;
                    line-height: 10px;}
    .contact-info p {margin: 0 0 8px;
                        font-size:17px;
                        line-height: 30px;}
    .helpline-info h1 {
                        font-size:25px;
                        line-height: 42px;
                        margin-top: 30px;}
    .sales-image:first-child {margin-left:28px;}
    .helpline-image {
        margin-top: 10px;}
    .sales-image{width: 80%;
    margin: 0px;
    min-height: 169px;
    margin-right: 0px;
    margin-bottom: 18PX;
    line-height: 13px;
    margin-left: 28px;
}
    .btn-style {padding: 1px;
        font-size:9px;
        margin-top: -6px;
        border-radius: 4px;
        margin-right: -1px;}
    
    .contact-info h1 {font-size: 11px;
        margin: 10PX 0 3px;}
    .contact-info p {font-size: 8px;
        line-height: 20px;}
    .helpline-info h1 {
        font-size: 14px;
        line-height:22px;
        margin-top: 20px;}
    .mapping {
            border-radius: 12px;
            width: 100%;
            float: left;}
        
    .sales-image h3 {font-size: 10px;}
    .sales-image:nth-child(3){margin-right: 0px;}
    .sales-image:last-child{margin-right:0px;}
    .sales-image:nth-child(4) {margin-left:28px;} 
    .mapping-info p {
        font-size: 9px;}
    .mapping-info h1 {
        font-size: 12px;
        line-height: 12px;margin-bottom: 10px;}
    .offices h1 {
        font-weight: 700;
        font-size: 15px;
        line-height: 29px;
        margin-top: 2px;
        margin-bottom: 8px;}
    .mapping-info {margin-top: -171px;
        margin-left: 155PX;}
    .mapping-info h2 {
            font-size:9px;
            line-height: 19px;
            margin-bottom: 10px; }
    .mapping-info h3 {
                font-size:9px;
                line-height: 0px;}
    .location-info {
                    width: 100%;
                    float: left;}
    .country h1 {
                font-size:9px;
                Line-height: 12px;
                margin-bottom: 7px;}
    .country ul li {font-size:9px;}
    .country {margin-right: 13px;
        margin-left: 4px;
        margin-top: 13px;
        height: 105px;}
        .footer-content:first-child {
            margin-left:0px;}
    .footer-content {
            height:170px;
            width: 33%;
            float: left;}        
    .country:last-child{margin-right:0px;}
    .footer{margin-top: -20px;min-height:325px;}
    .footer-content ul li {
        display: block;
        line-height: 1.5;
        font-size: 9px;
        margin-left: 20px;}
    .button-style { margin: 2px;
            padding: 0px,5px;
            font-size: 9px;}
    .footer-content h6 {
                font-size: 11px;
                margin: 7px;
                font-weight: 600;
                margin-left: 20px;}
    .footer-content:last-child {margin-top: 46px;}
    .footer2 {margin-left: 32px;}
    .footer2 p {font-size: 8px;
        position: relative;
        top: -12px;
        left: -28px;}
}
